.env
.cache
*.exe
out/
**/.DS_Store
pch/
.clangd
compile_commands.json
lib/usockets/bin/debug/libuSockets.a
core/src/simulator/temp_data
web/webserver/src/my_crow_app
ou-run.txt
**/my_crow_app
database/dbData/
node_modules
web/webserver/build/
web/webserver/vcpkg
web/webserver/perms2/
web/webserver/nginx-1.29.7/logs/
web/webserver/build/Debug/my_app.exe
