body {
    background-color: #101010;
    color: white;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

hr {
    border: 1px solid #5c5c5c;
    margin-top: 1em;
}

.inter-font {
    font-family: "Inter", 'Times New Roman';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.parent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-parent {
    background-color: #5c5c5c;
    border-color: white;
    padding: 0.1em;
    width: 20vw;
    border-radius: 0.4em;
}

.login-container {
    background-color: #252628;
    border-radius: 0.4em;
    padding: 1em;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.8em 0 0.8em 0
}

.input-field {
    padding: 0.3em 0 0.3em 0
}

.align-left {
    text-align: left;
}

input {
    background-color: #101010;
    padding: 0.4em;
    border-radius: 0.3em;
    margin-bottom: 0.1em;
}

button {
    background-color: black;
    padding: 0.4em;
    border-radius: 0.3em;
    margin-bottom: 0.1em;
}

textarea:focus, input:focus {
    outline: solid #68E2EB;
    outline-width: 0.15em;
}

.buttons-and-links {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.login-signup-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.5em 0 1em 0;
}

#login-button:hover {
    background-color: #68E2EB;
    color: black
}

#signup-button:hover {
    background-color: #68E2EB;
    color: black;
}
