#root {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}
.action-board {
  margin-bottom: 0.25vh
}
.sim-grid{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  height: 90vh;
  gap: 0.5vw;
}
.grid-item {
  flex-direction: column;
  justify-content: center;
  height: 90vh
}